body {
    min-height: 700px;
    background: url("./gear-11.jpg") no-repeat 50% 50% fixed;
    background-size: 25%;
}

#autocomplete {
    width: 160px;
    display:none;
}

#city-input {
    width: 160px;
}

#special {
    font-size: 0.8em;
    color: gray;
    border: 1px solid lightgray;
    display: none;
    width: 100%;
    list-style: none;
    padding-left: 6px;
    margin-top: 0px;
}
